<html>
    <head>
        <meta charset="UTF-8">
        <title>chanc.ee</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="description" content="The blog of Chancee, designer and hacker of pretty things">

        <link rel="stylesheet" type="text/css" media="screen" href="../lib/style.css">
        <link rel="alternate" type="application/rss+xml" title="Subscribe to What's New" href="https://chanc.ee/feed.rss" />
    </head>



    <body>
        <header>
            <h1>Test</h1>
            <a href="feed.html">Feed</a>
        </header>
       
        <content>
			<h1>%@</h1>
			<h3>%@</h3>
			%@
        </content>

        <footer>
            <p>2019 Chancee</p>
            <a href="https://chanc.ee/feed.rss"">RSS</a>
        </footer>

    </body>

    

</html>
