<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Swiftpress Blog</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="description" content="">

        <link rel="alternate" type="application/rss+xml" title="Subscribe to What's New" href="feed.rss" />
    </head>



    <body>
        <header>
            <h1>Swiftpress </h1>
        </header>
       
        <content>
            %@
        </content>
        
        <footer>
        
        </footer>

    </body>

    

</html>
